body {
  font-family: sans-serif;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.header {
  flex: 0 1 auto;
  display: flex;
  background-color: aliceblue;
  align-items: center;
}
.content {
  flex: 1 1 auto;
  overflow-y: hidden;
}
/*.footer {
  flex: 0 1 10px;
  text-align: right;
}*/


/* CONTENT */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: min-content;
}

.controls {
  background-color: silver;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: stretch;
}
.unit > div {
  border: 1px solid blue;
  /*background-color: lightgreen;*/
}

/* MENU button */
.btn-menu {
  background-color: none;
  display: block;
  margin: auto;
  width: 1.5em;
}
.btn-menu-parent {
  background-color: aliceblue;
}
#title {
  margin-left: auto;
}
.btn-main {
  background: none;
  display: block;
  margin: auto;
  width: 1.5em;
}
.btn {
  width: 100%;
}
#btn-cog-parent {
  margin-left: auto;
}

/* FREQ text label */
input[type=text] {
  width: 100%;
  text-align: center;
}

/* FREQ slider */
input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 8px;
  padding: 0 5px;
}
.freq {
  height: 175px;
}
.finetune {
  height: 170px;
}

/* FREQ number label */
input[type=number] {
  width: 3.5em;
  text-align: center;
}
/* hide spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* DIVIDER */
.divider {
  background: none;
  border: none;
  width: 2em;
}

/* GRAPH */
.graph {
  /*background: yellow;*/
  background: none;
  height: 100;
  /*width: 4em;*/
  border: 1px solid;
}
.canvas {
  height: 100%;
  width: 100%;
}


/* PAGES AND OVERLAYS */
#page-menu {
}
#page-settings, #page-help, #page-menu {
  display: none;
}
#page-menu {
  /*display: flex;*/
  flex-flow: column;
}
#menu-header {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-evenly;
  background-color: gainsboro;
  align-items: stretch;
}
#menu-header > div {
  border: solid 1px black;
  flex: 1;
  text-align: center;
  width: max-content;
}
#menu-content {
  flex: 1 1 auto;
  overflow-y: hidden;
}
.menu-content-page {
  /* hide all menu subpages by default */
  display: none;
}
#menu-content-general {
  /* except for the general page */
  display: block;
}
#menu-header-btn-general {
  background-color: black;
  color: white;
}
